.navbar {
	position: fixed;
	top: 0;
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	background-color: #fff;
	/* border-bottom: 1px solid #eaeaea; */
	z-index: 1;


	.logo {
		width: 150px;
	}

	button {
		background: transparent;
		font-size: 16px;
		color: #49557e;
		border: 1px solid tomato;
		padding: 10px 30px;
		border-radius: 50px;
		cursor: pointer;
		transition: 0.3s ease-in-out;

		&:hover {
			background-color: #fff4f2;
		}
	}

	.active {
		padding-bottom: 2px;
		border-bottom: 3px solid #49557e;
	}

	li {
		cursor: pointer;
	}
}

.navbar-menu {
	display: flex;
	list-style: none;
	gap: 20px;
	color: #49557e;
	font-size: 18px;
}

.navbar-search-icon {
	position: relative;

	.dot {
		position: absolute;
		min-width: 10px;
		min-height: 10px;
		background-color: tomato;
		border-radius: 5px;
		top: -8px;
		right: -8px;
	}
}

@media (width <= 1050px) {
	.navbar {
		.logo {
			width: 140px;
		}

		.navbar-right {
			gap: 30px;

			img {
				width: 22px;
			}

			button {
				padding: 8px 25px;
			}
		}
	}

	.navbar-menu {
		font-size: 17px;
	}
}

@media (width <= 900px) {
	.navbar {
		.logo {
			width: 120px;
		}

		.navbar-right {
			gap: 20px;

			img {
				width: 20px;
			}

			button {
				padding: 7px 20px;
				font-size: 15px;
			}
		}
	}

	.navbar-menu {
		gap: 15px;
		font-size: 16px;
	}
}

@media (width <= 750px) {
	.navbar-menu {
		display: none;
	}
}
